<% provide(:title, "Login") %>

<div id="login">

    <h2><span class="fontawesome-lock"></span>Login</h2>
        <%= form_for(:session, url: sessions_path) do |f| %>
        <fieldset>

            <p><%= f.label :correo %></p>
            <p><%= f.text_field :correo %></p>

            <p><%= f.label :password %></p>
            <p> <%= f.password_field :password %></p>

            <p>
                <%= f.submit "Ingresar" %>
            </p>
            </fieldset>

<% end %>

</div>
